// Define variables for your color scheme
$color-primary: #023047;
$color-primary-light: #219EBC;
$color-secondary: #fb8500;
$color-secondary-light: #ffb703;
$color-bg: #8ecae6;

$color-txt: #333;
$color-txt-light: #fff;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
