<div class="home container mt-5 mb-5 position-relative">
  <h1 class="pt-5 pb-3 position-relative">Cocktails <span>Maker</span></h1>
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-8 p-3">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="cocktail-card col-12 col-lg-6 p-3">
        	<%= link_to cocktail_path(cocktail) do %>
        	  <div class="card-category" style="background-image: linear-gradient(rgba(143, 37, 132,0.3), rgba(242, 110, 37, .3)), url(<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill if cocktail.photo.attached? %>)">
        	      <span class="card-title"><%= cocktail.name %></span>
        	  </div>
        	<% end %>
        </div>
      <% end %>
    </div>
    </div>
    <div class="col col-12 col-md-6 col-lg-4 mt-3">
      <div class="card mt-3">
        <div class="card-body">
          <h2 class="card-title">New cocktail</h2>
          <%= render 'form_cocktail' %>
        </div>
      </div>
    </div>
  </div>
</div>