.banner {
  height: 50vh;
  // background-image: url(banner.jpg);
  background-color: $color-primary;
  background-size: cover;
}

h1 {
  font-size: $font-size-base * 8;
  font-weight: 900;
  line-height: $font-size-base * 5;
  color: $color-txt-light;
}