h1 {
  font-size: 8 * $font-size-base;
  color: $color-txt-light;
  margin-bottom: 2rem;
  font-weight: 900;
  text-shadow: 5px 5px $color-primary;
  
  span {
    font-size: $font-size-base * 6;
    position: absolute;
    bottom: -87px;
    right: 0;
    color: #fff;
    padding-right: 2rem;
  }
}

a:hover {
  text-decoration: none;
}